---
import Carousel from './carousel/Carousel.svelte'
---

<section id="how-works">
  <h1>¿Cómo trabajamos?</h1>
  <div class="container">

    <Carousel client:load />
  </div>
</section>

<style>
  #how-works {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    color: #776595;
    font-size: 5rem;
    margin: 10px 5px 50px 5px;
  }

</style>
