---
import Layout from '@layouts/Layout.astro';
import Header from '@components/ui/HeaderWelcome.astro';
import Carousel from '@components/ui/carousel/Carousel.svelte';
---

<Layout actualPage='/' title='Bienvenida'>
  <Header></Header>
 
<section id="how-works">
  <h1>¿Cómo trabajamos?</h1>
  <div class="container">

    <Carousel client:load />
  </div>
</section> 
</Layout>


<style>
  #how-works {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #how-works > h1 {
    color: var(--accent-purple);
    font-size: 5rem;
    margin: 10px 5px 50px 5px;
  }


</style>
